<div class="mt-8 px-2">

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Search on anything</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
  </mat-form-field>


  <div class="mat-elevation-z2">

    <table mat-table [dataSource]="dataSource" class="w-full">

      <ng-container matColumnDef="command">
        <th mat-header-cell *matHeaderCellDef> Command </th>
        <td mat-cell *matCellDef="let element"> {{element.command}} </td>
      </ng-container>

      <ng-container matColumnDef="aliases">
        <th mat-header-cell *matHeaderCellDef> Aliases </th>
        <td mat-cell *matCellDef="let element"> {{element.aliases}} </td>
      </ng-container>

      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef> Permission </th>
        <td mat-cell *matCellDef="let element"> {{element.permission}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [length]="dataSource?.data.length" [pageSize]="20"
                   [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>

  </div>
</div>
