<mat-sidenav-container>
  <mat-sidenav mode="side" class="ds-sidenav" opened="true" [disableClose]="true">
    <mat-nav-list>
        <h2 class="font-sans text-center text-white my-4 font-medium">HCF Wiki</h2>
        <h3 class="font-sans ml-2 text-white font-medium mb-2">Permissions</h3>
        <a class="font-sanspl-4" mat-list-item routerLink="permissions/commands" routerLinkActive="mat-list-item-active" [style.cursor]="'pointer'">Commands</a>
        <a class="font-sanspl-4" mat-list-item routerLink="permissions/faction" routerLinkActive="mat-list-item-active" [style.cursor]="'pointer'">Faction</a>
        <a class="font-sanspl-4" mat-list-item routerLink="permissions/privileges" routerLinkActive="mat-list-item-active" [style.cursor]="'pointer'">Privileges</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="ds-content" style="min-height: 100vh">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
