.ds-content {
  min-height: calc(100vh - 64px);
}

.mat-sidenav {
  background-color: #2F2F2F;
}

.ds-sidenav {
  width: 250px;
}

.mat-list-base .mat-list-item {
  color: lightgray;
}

.mat-list-item-active {
  border-left: #FF9601 solid 5px;
  background-color: #262626;
}

a {
  height: 35px !important;
}
